{# Header #}
{% set logoWidth = site.logo_width|default(160) %}
<nav class="navbar navbar-expand-lg navbar-light bg-body sticky-top z-4">
    <div class="container">
        <!-- Brand Logo or Text -->
        <a class="navbar-brand d-flex align-items-center" href="{{ url('/') }}">
            {% if theme_option('logo') %}
                <img src="{{ theme_option('logo') }}" alt="{{ setting('site_title') }}" class="me-2" style="width: {{ logoWidth }}px; height: auto;" />
            {% else %}
                <div>
                    <h4 class="fw-semibold text-body mb-0">{{ theme_option('site_title', setting('site_title')) }}</h4>
                </div>
            {% endif %}
        </a>

        <!-- Offcanvas Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas Menu -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <a class="navbar-brand d-flex align-items-center" href="{{ url('/') }}">
                    {% if theme_option('logo') %}
                        <img src="{{ theme_option('logo') }}" alt="{{ setting('site_title') }}" class="me-2" style="width: {{ logoWidth }}px; height: auto;" />
                    {% else %}
                        <div>
                            <h4 class="fw-semibold text-body mb-0">{{ theme_option('site_title', setting('site_title')) }}</h4>
                        </div>
                    {% endif %}
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between h-100">
                {{ menu('primary', {'class': 'navbar-nav justify-content-center front-theme', 'id': 'primary-nav'}) }}

                <!-- Button (for Mobile) -->
                <div class="d-block d-lg-none mt-4">
                    {% if theme_option('contact_email') %}
                        <a href="mailto:{{ theme_option('contact_email') }}" class="btn btn-primary w-100">Hire Us</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Button (for Desktop) -->
        <div class="d-none d-lg-flex">
            {% if theme_option('contact_email') %}
                <a href="mailto:{{ theme_option('contact_email') }}" class="btn btn-primary">Hire Us</a>
            {% endif %}
        </div>
    </div>
</nav>
